// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: helvetica;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.left-column {
  width: 50%;
  float: left;
  margin: auto;
  text-align: center;
}
.right-column {
  width: 50%;
  float: left;
  margin: auto;
  text-align: center;
}
